org: vesnathan
app: portfolio
service: portfolio

provider:
  name: aws
  runtime: nodejs16.x
  profile: portfolioUser
  region: ap-southeast-2

plugins:
  - serverless-s3-sync
  - serverless-offline
custom:
  bucketName: portfolio-o5z9dq1v9p
  s3Sync:
    - bucketName: ${self:custom.bucketName}
      localDir: portfolio/build/
package:
  exclude:
    - 'portfolio/src/**'
    - 'portfolio/.husky/**'
    - 'portfolio/node_modules/**'
    - 'portfolio/.eslintignore'
    - 'portfolio/.eslintrc.json'
    - 'portfolio/package.json'
    - 'portfolio/package-lock.json'
    - 'portfolio/tsconfig.json'
    - 'node_modules/**'
resources:
  Resources:
    PortfolioBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:custom.bucketName}
        AccessControl: PublicRead
        WebsiteConfiguration:
          IndexDocument: index.html
          ErrorDocument: index.html

    S3AccessPolicy:
      Type: AWS::S3::BucketPolicy
      Properties:
        Bucket:
          Ref: PortfolioBucket
        PolicyDocument:
          Statement:
            - Sid: PublicReadGetObject
              Effect: Allow
              Principal: '*'
              Action:
                - s3:GetObject
              Resource: arn:aws:s3:::${self:custom.bucketName}/*
    CloudFrontDistribution:
      Type: AWS::CloudFront::Distribution
      Properties:
        DistributionConfig:
          Origins:
            - DomainName: ${self:custom.bucketName}.s3.amazonaws.com
              Id: Portfolio
              CustomOriginConfig:
                HTTPPort: 80
                HTTPSPort: 443
                OriginProtocolPolicy: https-only
          Enabled: 'true'
          DefaultRootObject: index.html
          CustomErrorResponses:
            - ErrorCode: 404
              ResponseCode: 200
              ResponsePagePath: /index.html
          DefaultCacheBehavior:
            AllowedMethods:
              - DELETE
              - GET
              - HEAD
              - OPTIONS
              - PATCH
              - POST
              - PUT
            TargetOriginId: Portfolio
            ForwardedValues:
              QueryString: 'false'
              Cookies:
                Forward: none
            ViewerProtocolPolicy: redirect-to-https
          ViewerCertificate:
            CloudFrontDefaultCertificate: true	
functions:
  contact:
    handler: handler.contact
    events:
      - http:
          path: contact/middyContactHandler
          method: post
          cors: true
        

