.mainContentWrapper {
  height: 100%;
}
h4 {
  color: rgb(38,45,56);
  display: inline;
}
p {
  margin-top: 2px;
}
.portfolio-contentWrapper {
  padding: 20px;
}
.portfolio-contentWrapper img {
  width: 100%;
}